// verticle column chart
.column-chart {
    position: relative; // z-index: 20;
    // bottom: 0;
    // left: 50%;
    // width: 90%;
    height: 320px;
    height: rem(320px);
    margin-top: 40px;
    margin-top: rem(40px); //margin-left: -50%;
    &::before,
    &::after {
        position: absolute;
        top: 0;
        left: 0;
        width: calc(100% + 30px);
        height: 25%;
        margin-left: -15px;
        margin-left: rem(-15px);
        content: "";
        border-top: $border-lightgray-dashed-1;
        border-bottom: $border-lightgray-dashed-1;
    }
}

.column-chart::after {
    top: 50%;
}

.column-chart > .legend {
    position: absolute;
    top: 0;
    z-index: -1;
}

.column-chart > .legend.legend-left {
    left: 0;
    width: 25px;
    height: 75%;
    margin-left: -55px;
    border: $border-lightgray-dashed-1;
    border-right: none;
}

.column-chart > .legend.legend-left > .legend-title {
    position: absolute;
    top: 50%;
    left: 0;
    display: block;
    width: 65px;
    height: 50px;
    margin-top: -25px;
    margin-left: -60px;
    font-size: 28px;
    line-height: 50px;
    letter-spacing: 1px;
}

.column-chart > .legend.legend-right {
    right: 0;
    z-index: 100;
    width: 150px;
    height: 100%;
    margin-right: -115px;
}

.column-chart > .legend.legend-right > .item {
    position: relative;
    top: -20px;
    right: -35px;
    width: 150px;
    height: 25%;
}

.column-chart > .legend.legend-right > .item > h4 {
    position: absolute;
    top: 0;
    display: inline-block;
    height: 30px;
    padding: 0 20px;
    margin-top: -20px;
    font-size: 14px;
    line-height: 28px;
    background: $blue;
    border: $border-lightblue-solid-1;
    border-radius: 20px;
    box-shadow: 3px 4px 2px rgba(0, 0, 0, 0.20);
}

.column-chart > .chart {
    position: relative;
    bottom: 0;
    left: 50%;
    z-index: 20;
    width: 98%;
    height: 100%;
    margin-left: -49%;
}

.column-chart > .chart > .item {
    position: relative;
    float: left;
    height: 100%;
    &::before {
        position: absolute;
        bottom: 0;
        left: 50%;
        z-index: -1;
        width: 1px;
        height: calc(100% + 15px);
        content: "";
        border-right: $border-lightgray-dashed-1;
    }
}


.column-chart > .chart > .item > .bar {
    position: absolute;
    bottom: 0;
    left: 3px;
    left: rem(3px);
    width: 94%;
    height: 100%;
}

.column-chart > .chart > .item > .bar > span.percent {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 25;
    display: block;
    width: 100%;
    height: 26px;
    font-size: 14px;
    font-size: rem(14px);
    font-weight: 700;
    line-height: 26px;
    color: $white;
    text-align: center;
    letter-spacing: 1px;
    background: $red-5;
}

.column-chart > .chart > .item > .bar > .item-progress {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 20%;
    color: $white;
    background: $blue-450;
}

.column-chart > .chart > .item > .bar > .item-progress > .title {
    position: absolute;
    top: calc(50% - 13px);
    left: 50%;
    font-size: 14px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    letter-spacing: rem(2px); // -moz-transform: translateX(-50%) translateY(-50%) rotate(-90deg);
    // -o-transform: translateX(-50%) translateY(-50%) rotate(-90deg);
    // -ms-transform: translateX(-50%) translateY(-50%) rotate(-90deg);
    // -webkit-transform: translateX(-50%) translateY(-50%) rotate(-90deg);
    transform: translateX(-50%) translateY(-50%) rotate(-90deg);
}

@media (min-width: 360px) {
    .column-chart > .chart > .item > .bar > .item-progress > .title {
        font-size: 14px;
        font-size: rem(14px);
    }
}

@media (min-width: 480px) {
    .column-chart > .chart > .item > .bar > .item-progress > .title {
        font-size: 16px;
        font-size: rem(16px);
    }
}

// progress bars
.prog-bar {
    height: 20px;
    margin-bottom: 20px;
    overflow: hidden;
    background: $gray-100;
    border-radius: 4px;
    @include box-shadow-custom-inset(0, -1px, 0, 0, rgba(0, 0, 0, .15));
}

// player age group chart - horizontal progress bars
.age-chart {
    font-size: 11px;
    .prog-bar {
        height: 20px;
        margin-bottom: 20px;
        overflow: hidden;
        background: $gray-100;
        border-radius: 4px;
        @include box-shadow-custom-inset(0, -1px, 0, 0, rgba(0, 0, 0, .15));
    }
    .prog-bar-lightblue-success {
        background: $green-10;
    }
    .prog-bar-lightblue {
        float: left;
        width: 0;
        height: 100%;
        font-size: 12px;
        font-size: rem(12px);
        line-height: 20px;
        color: $white;
        text-align: center;
        background: $blue-450;
        transition: width .6s ease;
        @include animateWidth(1px, 100%);
        @include box-shadow-custom-inset(0, -1px, 0, 0, rgba(0, 0, 0, .15));
    }
}

// circular graph animated
.progress {
    position: relative;
    width: 150px;
    height: 150px;
    margin: 0 auto;
    line-height: 150px;
    background: none;
    box-shadow: none;
    &::after {
        // border-radius: 4px;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%; // border: 1px solid #fff;
        content: "";
    }
}

.progress > span {
    position: absolute;
    top: 0;
    z-index: 1;
    width: 50%;
    height: 100%;
    overflow: hidden;
}

.progress .progress-left {
    left: 0;
}

.progress .progress-bar {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: none;
    border-style: solid;
    border-width: 12px;
}

.progress .progress-left .progress-bar {
    left: 100%;
    border-left: 0;
    border-top-right-radius: 80px;
    border-bottom-right-radius: 80px;
    transform-origin: center left;
}

.progress .progress-right {
    right: 0;
}

.progress .progress-right .progress-bar {
    left: -100%;
    border-right: 0;
    border-top-left-radius: 80px;
    border-bottom-left-radius: 80px;
    transform-origin: center right;
    animation: loading-1 1.1s linear forwards;
}

.progress .progress-value {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
    font-size: 24px;
    line-height: 135px;
    color: #fff;
    text-align: center;
    background: #44484b;
    border-radius: 50%;
}

.progress.blue .progress-bar {
    border-color: #049dff;
}

.progress.blue .progress-left .progress-bar {
    animation: loading-2 1.5s linear forwards 1.1s;
}

.progress.yellow .progress-bar {
    border-color: #fdba04;
}

.progress.yellow .progress-left .progress-bar {
    animation: loading-3 1s linear forwards 1.1s;
}

.progress.pink .progress-bar {
    border-color: #ed687c;
}

.progress.pink .progress-left .progress-bar {
    animation: loading-4 .4s linear forwards 1.1s;
}

.progress.green .progress-bar {
    border-color: #1abc9c;
}

.progress.green .progress-left .progress-bar {
    animation: loading-5 1.2s linear forwards 1.1s;
}

@keyframes loading-1 {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(180deg);
    }
}

@keyframes loading-2 {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(144deg);
    }
}

@keyframes loading-3 {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(90deg);
    }
}

@keyframes loading-4 {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(36deg);
    }
}

@keyframes loading-5 {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(126deg);
    }
}

@media only screen and (max-width: 990px) {
    .progress {
        margin-bottom: 20px;
    }
}

// keyframes animate \\
@keyframes loading-1 {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(180deg);
    }
}

@keyframes loading-2 {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(144deg);
    }
}

@keyframes loading-3 {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(90deg);
    }
}

@keyframes loading-4 {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(36deg);
    }
}

@keyframes loading-5 {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(126deg);
    }
}

@media only screen and (max-width: 990px) {
    .progress {
        margin-bottom: 20px;
    }
}
