@font-face {
    font-family: "USSF90MinutesDisplay-medium";
    src: url("fonts/ussf/USSF_90_Min_Display_Medium.otf");
    font-style: normal;
    font-weight: 500;
}

@font-face {
    font-family: "USSF90MinutesDisplay-light";
    src: url("fonts/ussf/USSF_90_Min_Display_Light.otf");
    font-weight: 300;
}

@font-face {
    font-family: "USSF90MinutesDisplay-Cond-bold";
    src: url("fonts/ussf/USSF_90_Min_Display_Cond_Bold.otf");
    font-weight: 700;
}
