
@font-face {
    font-family: "USSF90MinutesDisplay-medium", sans-serif;
    font-style: normal;
    font-weight: 500;
    src: url("fonts/ussf/USSF_90_Min_Display-Medium.otf") format("otf");
}

@font-face {
    font-family: "USSF90MinutesDisplay-light", sans-serif;
    font-style: normal;
    font-weight: 300;
    src: url("fonts/ussf/USSF_90_Min_Display-Light.otf") format("otf");
}

@font-face {
    font-family: "USSF90MinutesDisplay-Cond-bold", sans-serif;
    font-style: normal;
    src: url("fonts/ussf/USSF_90_Min_Display_Cond-Bold.otf") format("otf");
}
