body {
    // font-family: $font-family-base;
    font-family: $medium-font;
    font-size: 1rem;
    font-weight: $font-weight-base;
    color: $gray-600; // call the keyframe fadeIn, use animattion ease-in and repeat 1 time
    opacity: 0;
    animation: fadeIn ease-in 1; // making sure after animation is complete we remain at the last keyframe value (opacity: 1)
    animation-duration: .5s;
    animation-fill-mode: forwards;
}

html,
body {
    height: 100%;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
a {
    &:link,
    &:active,
    &:visited {
        color: $link-color;
        text-decoration: $link-decoration;
        outline: none;
        outline-width: 0;
    }
    &:hover {
        color: $link-hover-color;
        text-decoration: $link-hover-decoration;
        outline: none;
        outline-width: 0;
    }
}

/*
< ---- utilities ----- >
  ------ FLEX ------
*/

.flexi-container-fluid {
    display: flex;
    flex-flow: row wrap;
    padding: 0;
}

.container-flexi {
    display: flex;
    flex-flow: row wrap;
    max-width: 1440px;
    padding: 0;
    margin: 0;
}

.flexi-container {
    display: flex;
    flex-flow: row wrap;
}

.flexi-inline-col-container {
    display: inline-flex;
    flex-flow: column wrap;
}

.flexi-item {
    flex: 1 auto;
}

// gs = grow & shrink
.flexi-item-gs-sm {
    flex: .25 auto;
}

.flexi-item-gs-none {
    flex: 0 auto;
}

.axis-column {
    display: flow-root;
    flex-flow: column wrap;
}

.axis-row {
    display: flow-root;
    flex-flow: row wrap;
}

.flex-no-shrink {
    flex-shrink: 0;
}

/*
< ----------- BACKGROUND COLORS ----------- >
*/
.bg-gray {
    background: $gray-300;
}

.bg-gray-mid {
    background: $gray-450;
}

.bg-gray-dark {
    background: $gray-500;
}

.bg-blue {
    background: $blue;
}

/*
< ----------- TEXTUAL ----------- >
*/

.font-weight-light {
    font-weight: $font-weight-normal;
}

.font-weight-bold {
    font-family: $cond-bold;
    font-weight: $font-weight-bold;
}

.font-200 {
    font-size: 200% !important;
}

.font-150 {
    font-size: 150% !important;
}

.font-95 {
    font-size: 95%;
}

.font-85 {
    font-size: 85%;
}

.font-75 {
    font-size: 75%;
}

.font-50 {
    font-size: 50%;
}

.text-small {
    font-size: $font-size-sm;
}

.text-lg {
    font-size: $font-size-lg;
}

.text-xlg {
    font-size: $font-size-xlg;
}

.text-yellow {
    color: $light-yellow;
}

.text-lightGray {
    color: $gray-500;
}

.text-white {
    color: $white;
}


/*
< ----------- NEXT ----------- >
*/

header {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

form {
    flex: 0 1 100%;
    width: 100%;
    max-width: 100%;
}

strong {
    font-weight: 700;
}

small {
    font-weight: 300;
}

/*
< ----------- ANIMATED CHECKBOX ----------- >
*/

.animate-checkbox {
    .tg-list {
        display: flex;
        align-items: center;
        text-align: center;
    }
    .tg-list-item {
        margin: 0 2em;
    }
    .tgl {
        display: none; // add default box-sizing for this scope
        &::after,
        &::before,
        & *,
        & *::after,
        & *::before,
        & + .tgl-btn {
            box-sizing: border-box;
            &::selection {
                background: none;
            }
        }
        + .tgl-btn {
            position: relative;
            display: inline-block;
            width: 7rem;
            height: 1.8rem;
            cursor: pointer;
            user-select: none;
            outline: 0;
            &::after,
            &::before {
                position: relative;
                display: inline-block;
                width: 50%;
                height: 100%;
                content: "";
            }
            &::after {
                left: 0;
            }
            &::before {
                display: none;
            }
        }
        &:checked + .tgl-btn::after {
            left: 50%;
        }
    }
    .tgl-skewed {
        + .tgl-btn {
            overflow: hidden;
            font-family: "Roboto Light", sans-serif;
            background: $green;
            transition: all .2s ease;
            transform: skew(-10deg);
            backface-visibility: hidden;
            &::after,
            &::before {
                position: absolute;
                display: inline-block;
                width: 100%;
                font-weight: 700;
                line-height: 2em;
                color: $white;
                text-align: center;
                text-shadow: 0 1px 0 rgba(0, 0, 0, .4);
                transition: all .2s ease;
                transform: skew(10deg);
            }
            &::after {
                left: 100%;
                content: attr(data-tg-on);
            }
            &::before {
                left: 0;
                content: attr(data-tg-off);
            }
            &:active {
                background: $green;
                &::before {
                    left: -10%;
                }
            }
        }
        &:checked + .tgl-btn {
            background: #888;
            &::before {
                left: -100%;
            }
            &::after {
                left: 0;
            }
            &:active::after {
                left: 10%;
            }
        }
    }
}


/*
< ----------- ASPECT RATIO ----------- >
*/

.are-21by9 {
    &::before {
        padding-top: percentage(9 / 21);
    }
}

.ar-16by9 {
    &::before {
        padding-top: percentage(9 / 16);
    }
}

.ar-4by3 {
    &::before {
        padding-top: percentage(3 / 4);
    }
}

.ar-1by1 {
    &::before {
        padding-top: percentage(1 / 1);
    }
}


/*
< ----------- ICONS ----------- >
*/

.icon-chevron-down {
    color: $btn-primary-02-color;
    &::after {
        box-sizing: border-box;
        display: inline-block;
        margin-left: 8px;
        font-family: normal normal normal 14px/1 FontAwesome;
        font-size: $font-family-base;
        text-align: right;
        content: "\f078";
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
}

.icon-calendar {
    color: $btn-primary-02-color;
    &::after {
        position: absolute;
        top: 15px;
        right: 30px;
        z-index: 3000;
        box-sizing: border-box;
        display: inline-block;
        margin-left: 8px;
        font-family: normal normal normal 14px/1 FontAwesome;
        font-size: $font-family-base;
        text-align: right;
        content: "\f073";
        opacity: 1;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
}


/*
< ----------- CALLOUTS ----------- >
*/

.callout {
    position: relative;
    padding: 18px 20px;
    margin: 18px 0;
    background: #eef4f9;
    border-radius: 6px;
    .notch {
        position: absolute;
        top: -10px;
        left: 20px;
        width: 0;
        height: 0;
        padding: 0;
        margin: 0;
        border-top: 0;
        border-right: 10px solid transparent;
        border-bottom: 10px solid #eef4f9;
        border-left: 10px solid transparent;
    }
}

//page loader
.pace {
    pointer-events: none;
    user-select: none;
    .pace-progress {
        position: fixed;
        top: 0;
        right: 100%;
        z-index: 2000;
        width: 100%;
        height: 2px;
        background: $blue-400;
    }
}

.pace-inactive {
    display: none;
}


// ALERTS
.alert-success {
    color: $gray-900;
    background: #8fd19e;
    border: 2px solid #74c184;
}

// buttons ---------------------------
.btn {
    text-transform: uppercase;
    &:focus {
        opacity: .9;
    }
}

button:hover {
    cursor: pointer;
}

.actionButtons {
    .actionBtn label {
        display: inline-flex;
    }
}

.btn-skewed {
    position: relative;
    top: 0;
    display: inline-block;
    height: 1.8rem;
    padding-top: 7px;
    padding-right: 20px;
    padding-left: 20px;
    color: $white; //width: 7rem;
    background: $blue;
    outline: 0;
    transform: skew(-10deg);
    &:hover {
        color: $white;
        text-decoration: none;
        background: $blue-375;
    }
    .lbl-save {
        transform: skew(10deg);
    }
}

.btn-blue-grad-pill {
    width: 136.5px;
    height: 41px;
    color: $white;
    background: #404e78 $blue-gradient-pill;
    border: 2px solid #404e78;
    border-radius: 100px;
    box-shadow: 0 6px 6px 0 rgba(0, 0, 0, .32);
    transition: all .25s ease-in-out;
    &:hover {
        background: #404e78;
    }
}

.bss-btn {
    margin: rem(3px);
    font-weight: $btn-font-weight;
    color: $white !important;
    text-align: center;
    text-transform: uppercase;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
    border: $input-btn-border-width solid transparent;
    @include transition($btn-transition); // Share hover and focus styles
    @include hover-focus {
        text-decoration: none;
    }
    &:focus,
    &.focus {
        outline: 0;
    } // Disabled comes first so active can properly restyle
    &.disabled,
    &:disabled {
        opacity: .65;
        @include box-shadow(none);
    }
    &:active,
    &.active {
        background-image: none;
        @include box-shadow($btn-focus-box-shadow,
        $btn-active-box-shadow);
    }
}

.btn-primary-02 {
    display: inline-flex;
    /* stylelint-disable */
    align-items: unset !important;
    /* stylelint-enable */
    padding: $btn-primary-02-padding;
    font-size: $btn-primary-02-font-sm;
    color: $btn-primary-02-color;
    text-transform: uppercase;
    background: $blue $btn-primary-02-bg-grad;
    border: $btn-primary-02-border;
    border-radius: $btn-primary-02-border-radius;
    &:hover,
    &:active,
    &:focus {
        color: $btn-primary-02-color;
        cursor: pointer;
        background: $blue-400;
        /* stylelint-disable */
        border: $btn-primary-02-border-hover !important;
        /* stylelint-enable */
        transition: $btn-primary-02-trans-bgcolor;
    }
    .fa {
        font-size: $btn-primary-02-fa-size;
    }
}

.btn-primary-02-sm {
    width: 140px;
    padding: $btn-primary-02-padding-sm;
    margin: 1px;
    white-space: nowrap;
}

.btn-danger,
.btn-primary,
.btn-primary-02 {
    padding: $btn-red-padding;
    font-size: $btn-red-font-size;
    font-size: $btn-primary-02-font-sm;
    /* stylelint-disable */
    color: $btn-primary-02-color !important;
    /* stylelint-enable */
}

.btn span {
    margin: 0 auto;
}

.btn-red {
    display: inline-flex;
    align-items: unset !important;
    padding: $btn-red-padding;
    font-size: $btn-red-font-size;
    color: $btn-red-color;
    text-transform: uppercase;
    vertical-align: $btn-red-fa-valign;
    background: darken($red, 15%) $btn-red-bg-grad;
    border: $btn-red-border;
    border-radius: $btn-red-border-radius;
    &:hover {
        background: darken($red, 15%);
        border: $btn-red-border-hover !important;
        transition: $btn-red-trans-bgcolor;
    }
    &:active,
    &:focus {
        background: darken($red, 30%);
        border: $btn-red-border-hover !important;
    }
    .fa {
        font-size: $btn-red-fa-size;
    }
}

.btn-clearWhite {
    z-index: 1;
    padding: $btn-clearWhite-padding;
    margin: 0;
    font-size: $btn-clearWhite-font-size !important;
    color: $btn-clearWhite-color;
    text-transform: capitalize !important;
    vertical-align: $btn-clearWhite-fa-valign;
    background: $btn-clearWhite-bg-grad;
    border: $btn-clearWhite-border !important;
    border-radius: 0;
    &:hover {
        color: $btn-clearWhite-color-hover;
        background: $btn-clearWhite-bg-hover;
        border: $btn-clearWhite-border-hover;
    }
    &:focus,
    &:visited,
    &:active {
        color: $btn-clearWhite-color-hover;
        background: $btn-clearWhite-bg-hover;
        border: $btn-clearWhite-border-hover;
    }
    .fa {
        margin-top: 4px;
        margin-right: rem(6px);
        font-size: $btn-clearWhite-fa-size;
    }
}

.btn-green {
    padding: $btn-green-padding;
    font-size: $btn-green-font-size;
    color: $btn-green-color;
    text-transform: uppercase;
    vertical-align: $btn-green-fa-valign;
    background-image: $btn-green-bg-grad;
    border: $btn-green-border;
    border-radius: $btn-green-border-radius;
    &:hover,
    &:active,
    &:focus {
        color: $btn-green-color;
        background: $green;
        border: $btn-green-border-hover !important;
        transition: $btn-green-trans-bgcolor;
    }
    .fa {
        margin: rem(2px) rem(2px);
        font-size: $btn-green-fa-size;
    }
}


.btn-primary {
    padding: $btn-red-padding;
    font-family: $light-font;
    font-size: $font-size-base;
    font-weight: 300;
    letter-spacing: 1.4px;
    background-image: linear-gradient(to bottom, $blue-350, $blue-000);
    border: solid 1px $white;
    border-radius: 8px;
    &:hover {
        text-decoration: none;
        background-image: linear-gradient(to bottom, $blue-475, $blue-460);
        border: solid .5px $blue-400;
        box-shadow: 0 0 4px 0 $blue-325;

    }

}

.btn-default {
    padding: $btn-red-padding;
    font-family: $light-font;
    font-size: $font-size-base;
    font-weight: 300;
    color: $gray-850 !important;
    letter-spacing: 1.4px;
    background-image: linear-gradient(to top, $gray-05, $white);
    border: solid 1px $gray-710;
    border-radius: 8px;
    &:hover {
        text-decoration: none;
        box-shadow: 0 0 4px 0 $blue-325;

    }

}

.actionBtn {
    
    background-image: linear-gradient(to bottom, $blue-350, $blue-000);
    border: solid .5px $white;
    border-radius: 8px;
    &:hover,
    &:active,
    &:focus {
        background-image: linear-gradient(to bottom, #00b1e0, #0079be);
        transition: all .25s ease-in;
    }
}

.btn-white {
    max-height: 40px;
    padding: 8px;
    font-size: $font-size-sm;
    font-weight: 200;
    color: $gray-850 !important;
    text-align: center;
    letter-spacing: 1.3px;
    white-space: nowrap;
    background: $white;
    border: solid 1px $white !important;
    border-radius: 3px;
    &:hover,
    &:active,
    &:focus {
        text-decoration: none;
        background: $gray-300;
        border: solid 1px $gray-300;
        border-radius: 3px;
        transition: all .125s ease-in;
    }
}

.button-secondary {
    max-height: 40px;
    padding: 8px;
    font-size: $font-size-xsm;
    font-weight: 200;
    color: $gray-850 !important;
    text-align: center;
    letter-spacing: 1.3px;
    white-space: nowrap;
    background-image: linear-gradient(to top, $gray-05, $white);
    border: solid 1px $gray-500 !important;
    border-radius: 3px;
    &:hover,
    &:active,
    &:focus {
        text-decoration: none;
        border: solid 1px $gray-500;
        border-radius: 3px;
        box-shadow: 0 0 6px 0 $blue-350;
        transition: all .125s ease-in;
    }
}
.btn-sm {
    padding-top: 2px;
    padding-bottom: 2px;
    font-size: $font-size-xsm;
    text-transform: none;
}
.btn-blue {
    background: $blue;
    border: 1px solid $blue-375;
}
.button.clear {
    display: flex;
}
//page layout elements

.card-header {
    font-size: $font-size-lg;
    color: $white;
    letter-spacing: 1.2;
    background: $blue;
}
.logo-container {
    max-width: 188px;
    height: 98px;
    .logo-main {
        max-width: 100%;
    }
}
// form stuff
.toggle.btn.btn-primary,
.toggle.btn.btn-primary[style],
.btn.btn-primary.toggle-on {
    width: 75px;
    font-size: $font-size-base;
    background: $green;
    border: 1px solid darken($green, 5%);
}
.toggle.btn.btn-default.off {
    background: $gray-300;
}
.input-label {
    display: block;
    margin-bottom: 0;
    font-size: $font-size-xsm !important;
    color: $gray-600;
}
.form-control {
    height: 40px;
    padding: 10px;
}
.blue-divider {
    height: 39px;
    padding: 0;
    margin: 0;
    background: $blue;
    border-bottom: 3px solid $red;
}
.navbar {
    padding: 0;
}
nav {
    // height: 50px;
    padding: 0;
    .navbar-nav {
        display: flex;
        flex-flow: row wrap;
        width: 100%;
        .col-md-4 {
            flex: 0 0 20%;
            max-width: 20%;
        }
        .nav-item {
            border-bottom: 1px solid $gray-300;
            &:not(:last-child) {
                border-right: 2px solid $white;
            }
        }
        .nav-link {
            // flex: 1 0 33.333%;
            // align-items: center;
            // width: 75%;
            height: 50px;
            padding: 12px;
            font-family: $medium-font;
            font-size: 125%;
            color: $black;
            text-align: center;
            text-transform: none;
            white-space: nowrap;
            &:hover {
                color: $black;
                text-transform: none;
                background: $white;
            }
        }
        .nav-link.disabled {
            color: $gray-600;
            &:hover {
                background: transparent;
            }
        }
        .nav-item.active {
            text-transform: none;
            background: $white;
        }
    }
}
@media (max-width: 991px) {
    nav {
        // height: 50px;
        padding: 0;
        .navbar-nav {
            display: flex;
            flex-flow: row wrap;
            width: 100%;
            .col-md-4 {
                display: flex;
                flex: 0 0 100%;
                max-width: 100%;
            }
            .nav-item {
                &:not(:last-child) {
                    border-right: 2px solid $white;
                }
            }
            .nav-link {
                // flex: 1 0 33.333%;
                // align-items: center;
                // width: 75%;
                width: 100%;
                height: 50px;
                padding: 12px;
                font-family: $medium-font;
                font-size: 125%;
                color: $black;
                text-align: center;
                text-transform: none;
                white-space: nowrap;
                &:hover {
                    color: $black;
                    text-transform: none;
                    background: $white;
                }
            }
            .nav-link.disabled {
                color: $gray-600;
                opacity: .5;
                &:hover {
                    background: transparent;
                }
            }
            .nav-item.active {
                text-transform: none;
                background: $white;
            }
        }
    }
    .col-md-6 {
        display: flex;
        flex: 0 0 100%;
        max-width: 100%;
    }
    .signin-button {
        position: absolute;
        top: 20px;
        right: 20px;
        display: inline-block;
    }
    .form-signin {
        display: none;
    }
}
@media (min-width: 992px) {
    .signin-button {
        display: none;
        float: right;
    }
}
.modal-header {
    padding: 6px;
    color: $white;
    text-transform: uppercase;
    background: $blue;
}
// headings
h1 {
    font-size: 30px;
    font-weight: 300;
    color: $black;
    letter-spacing: .5px;
}
h2 {
    font-size: 22px;
    font-weight: 300;
    color: $black;
    letter-spacing: .4px;
}
// content
.content-area {
    position: absolute;
    width: 100%;
    height: 100%;
    font-size: $font-size-sm;
    font-weight: 200;
    color: $gray-600;
}
.bss.dropdown {
    float: right;
    .bss.dropdown-menu {
        // top: 24px;
        // right: 117px;
        width: 120px;
        min-width: 120px;
        color: $gray-850;
        background: $gray-300;
        .dropdown-item {
            min-width: 120px;
            color: $gray-850;
            &:hover,
            &:focus,
            &:active {
                color: $gray-850;
                background: $gray-450;
            }
        }
    }
}
// borders
.border-rbl {
    border-right: 1px solid $gray-300;
    border-bottom: 1px solid $gray-300;
    border-left: 1px solid $gray-300;
}

.modal-window {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1040;
    height: 100%;
    background: $modal-backdrop-bg;
    .modal-window-content {
        position: absolute;
        top: 35%;
        left: 35%;
        z-index: 1041;
        max-width: 440px;
        padding: 40px;
        font-family: $medium-font;
        background: $light-yellow;
        border-radius: 8px;
        .fa {
            float: left;
        }
        .fa-info-circle {
            color: $yellow;
        }
        .fa-exclamation-triangle {
            color: $red;
        }
    }
}
footer {
    background: $gray-450;
}

// Nothing below here

.row > [class^="col-"] {
    padding: 10px;
    margin: 0;
}
